<p id="notice"><%= notice %></p>

<p>
  <b>Trade:</b>
  <%= @rebalance_trade.trade_id %>
</p>

<p>
  <b>Group:</b>
  <%= @rebalance_trade.group_id %>
</p>

<p>
  <b>Action:</b>
  <%= @rebalance_trade.action_id %>
</p>

<p>
  <b>Acc:</b>
  <%= @rebalance_trade.acc_id %>
</p>

<p>
  <b>Acc name:</b>
  <%= @rebalance_trade.acc_name %>
</p>

<p>
  <b>Security:</b>
  <%= @rebalance_trade.security_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @rebalance_trade.quantity %>
</p>

<p>
  <b>Cur mkvalue:</b>
  <%= @rebalance_trade.cur_mkvalue %>
</p>

<p>
  <b>Cur percent:</b>
  <%= @rebalance_trade.cur_percent %>
</p>

<p>
  <b>Prop mkvalue:</b>
  <%= @rebalance_trade.prop_mkvalue %>
</p>

<p>
  <b>Prop percent:</b>
  <%= @rebalance_trade.prop_percent %>
</p>

<p>
  <b>Action:</b>
  <%= @rebalance_trade.action %>
</p>

<p>
  <b>Action currency:</b>
  <%= @rebalance_trade.action_currency %>
</p>

<p>
  <b>Shares:</b>
  <%= @rebalance_trade.shares %>
</p>

<p>
  <b>Trans type code:</b>
  <%= @rebalance_trade.trans_type_code %>
</p>

<p>
  <b>Tar percent:</b>
  <%= @rebalance_trade.tar_percent %>
</p>

<p>
  <b>Price decimal:</b>
  <%= @rebalance_trade.price_decimal %>
</p>

<p>
  <b>Price date:</b>
  <%= @rebalance_trade.price_date %>
</p>

<p>
  <b>Trans fee:</b>
  <%= @rebalance_trade.trans_fee %>
</p>

<p>
  <b>Is washsale:</b>
  <%= @rebalance_trade.is_washsale %>
</p>

<p>
  <b>Note:</b>
  <%= @rebalance_trade.note %>
</p>

<p>
  <b>User:</b>
  <%= @rebalance_trade.user_id %>
</p>

<p>
  <b>User name:</b>
  <%= @rebalance_trade.user_name %>
</p>

<p>
  <b>Ticker:</b>
  <%= @rebalance_trade.ticker %>
</p>

<p>
  <b>Xml data:</b>
  <%= @rebalance_trade.xml_data %>
</p>


<%= link_to 'Edit', edit_rebalance_trade_path(@rebalance_trade) %> |
<%= link_to 'Back', rebalance_trades_path %>
