<p id="notice"><%= notice %></p>

<!--
<p>
  <b>Acct:</b>
  <%= @pas_account.acct_id %>
</p>

<p>
  <b>Currency:</b>
  <%= @pas_account.currency %>
</p>
-->

<p>
  <b>Acct type:</b>
  <%= @pas_account.acct_type %>
</p>

<p>
  <b>Acct name:</b>
  <%= @pas_account.acct_name %>
</p>
<!--
<p>
  <b>Acct number:</b>
  <%= @pas_account.acct_number %>
</p>

<p>
  <b>Open date:</b>
  <%= @pas_account.open_date %>
</p>

<p>
  <b>Start date:</b>
  <%= @pas_account.start_date %>
</p>

<p>
  <b>Performance start date:</b>
  <%= @pas_account.performance_start_date %>
</p>

<p>
  <b>Close date:</b>
  <%= @pas_account.close_date %>
</p>

<p>
  <b>Position asof date:</b>
  <%= @pas_account.position_asof_date %>
</p>

<p>
  <b>Account funding date:</b>
  <%= @pas_account.account_funding_date %>
</p>

<p>
  <b>Investment strategy type:</b>
  <%= @pas_account.investment_strategy_type %>
</p>

<p>
  <b>Investment company:</b>
  <%= @pas_account.investment_company_id %>
</p>

<p>
  <b>Custodian:</b>
  <%= @pas_account.custodian_id %>
</p>

<p>
  <b>Source:</b>
  <%= @pas_account.source_id %>
</p>

<p>
  <b>Rep number:</b>
  <%= @pas_account.rep_number %>
</p>

<p>
  <b>Reference:</b>
  <%= @pas_account.reference_id %>
</p>

<p>
  <b>Federal taxable flag:</b>
  <%= @pas_account.federal_taxable_flag %>
</p>

<p>
  <b>State taxable flag:</b>
  <%= @pas_account.state_taxable_flag %>
</p>

<p>
  <b>View:</b>
  <%= @pas_account.view_id %>
</p>

<p>
  <b>Use firsttradedate flag:</b>
  <%= @pas_account.use_firsttradedate_flag %>
</p>

<p>
  <b>Termination notification date:</b>
  <%= @pas_account.termination_notification_date %>
</p>

<p>
  <b>Termination reason:</b>
  <%= @pas_account.termination_reason %>
</p>

<p>
  <b>Aggregateaccount flag:</b>
  <%= @pas_account.aggregateaccount_flag %>
</p>

<p>
  <b>Primary master account:</b>
  <%= @pas_account.primary_master_account_id %>
</p>

<p>
  <b>Secondary master account:</b>
  <%= @pas_account.secondary_master_account_id %>
</p>

<p>
  <b>Billing start date:</b>
  <%= @pas_account.billing_start_date %>
</p>

<p>
  <b>Last billing date:</b>
  <%= @pas_account.last_billing_date %>
</p>

<p>
  <b>Fee calcbase type:</b>
  <%= @pas_account.fee_calcbase_type %>
</p>

<p>
  <b>Relationship to prevowner type:</b>
  <%= @pas_account.relationship_to_prevowner_type %>
</p>

<p>
  <b>Previous owner name:</b>
  <%= @pas_account.previous_owner_name %>
</p>

<p>
  <b>Orig acct type:</b>
  <%= @pas_account.orig_acct_type %>
</p>

<p>
  <b>Import file date:</b>
  <%= @pas_account.import_file_date %>
</p>

<p>
  <b>Data source type:</b>
  <%= @pas_account.data_source_type %>
</p>-->


<%= link_to 'Edit', edit_pas_account_path(@pas_account) %> |
<%= link_to 'Back', pas_accounts_path %>
