<p id="notice"><%= notice %></p>

<p>
  <b>Security:</b>
  <%= @pas_security.security_id %>
</p>

<p>
  <b>Symbol:</b>
  <%= @pas_security.symbol %>
</p>

<p>
  <b>Cusip:</b>
  <%= @pas_security.cusip %>
</p>

<p>
  <b>Isin:</b>
  <%= @pas_security.isin %>
</p>

<p>
  <b>Fund code:</b>
  <%= @pas_security.fund_code %>
</p>

<p>
  <b>Security name:</b>
  <%= @pas_security.security_name %>
</p>

<p>
  <b>Description:</b>
  <%= @pas_security.description %>
</p>

<p>
  <b>Security type:</b>
  <%= @pas_security.security_type %>
</p>

<p>
  <b>Security sub type:</b>
  <%= @pas_security.security_sub_type %>
</p>

<p>
  <b>Currency:</b>
  <%= @pas_security.currency %>
</p>

<p>
  <b>Origcountry code:</b>
  <%= @pas_security.origcountry_code %>
</p>

<p>
  <b>Country code:</b>
  <%= @pas_security.country_code %>
</p>

<p>
  <b>Exchange:</b>
  <%= @pas_security.exchange_id %>
</p>

<p>
  <b>Default currency:</b>
  <%= @pas_security.default_currency %>
</p>

<p>
  <b>Price source:</b>
  <%= @pas_security.price_source %>
</p>

<p>
  <b>Assetclass:</b>
  <%= @pas_security.assetclass_id %>
</p>

<p>
  <b>Sector:</b>
  <%= @pas_security.sector_id %>
</p>

<p>
  <b>Industry:</b>
  <%= @pas_security.industry_id %>
</p>

<p>
  <b>Reporting1099 category:</b>
  <%= @pas_security.reporting1099_category_id %>
</p>

<p>
  <b>Worthless flag:</b>
  <%= @pas_security.worthless_flag %>
</p>

<p>
  <b>Worthless start date:</b>
  <%= @pas_security.worthless_start_date %>
</p>

<p>
  <b>Notes:</b>
  <%= @pas_security.notes %>
</p>

<p>
  <b>Status:</b>
  <%= @pas_security.status %>
</p>

<p>
  <b>Import file date:</b>
  <%= @pas_security.import_file_date %>
</p>

<p>
  <b>Data source type:</b>
  <%= @pas_security.data_source_type %>
</p>

<p>
  <b>Seq:</b>
  <%= @pas_security.seq_id %>
</p>


<%= link_to 'Edit', edit_pas_security_path(@pas_security) %> |
<%= link_to 'Back', pas_securities_path %>
