<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @pas_position.position_id %>
</p>

<p>
  <b>Acct:</b>
  <%= @pas_position.acct_id %>
</p>

<p>
  <b>Security:</b>
  <%= @pas_position.security_id %>
</p>

<p>
  <b>Start date:</b>
  <%= @pas_position.start_date %>
</p>

<p>
  <b>Average cost:</b>
  <%= @pas_position.average_cost %>
</p>

<p>
  <b>Quantity:</b>
  <%= @pas_position.quantity %>
</p>

<p>
  <b>Position flag:</b>
  <%= @pas_position.position_flag %>
</p>

<p>
  <b>As of date:</b>
  <%= @pas_position.as_of_date %>
</p>

<p>
  <b>Price:</b>
  <%= @pas_position.price %>
</p>

<p>
  <b>Marketvalue:</b>
  <%= @pas_position.marketvalue %>
</p>

<p>
  <b>Percentage:</b>
  <%= @pas_position.percentage %>
</p>

<p>
  <b>Rep number:</b>
  <%= @pas_position.rep_number %>
</p>

<p>
  <b>Tolerance:</b>
  <%= @pas_position.tolerance %>
</p>

<p>
  <b>Lower tolerance:</b>
  <%= @pas_position.lower_tolerance %>
</p>

<p>
  <b>Minimum trade amount:</b>
  <%= @pas_position.minimum_trade_amount %>
</p>

<p>
  <b>Reconciliation flag:</b>
  <%= @pas_position.reconciliation_flag %>
</p>

<p>
  <b>Transaction setting:</b>
  <%= @pas_position.transaction_setting_id %>
</p>

<p>
  <b>Lot method:</b>
  <%= @pas_position.lot_method_id %>
</p>

<p>
  <b>Unmanaged asset flag:</b>
  <%= @pas_position.unmanaged_asset_flag %>
</p>

<p>
  <b>Exclude performance flag:</b>
  <%= @pas_position.exclude_performance_flag %>
</p>

<p>
  <b>Excluded holding flag:</b>
  <%= @pas_position.excluded_holding_flag %>
</p>

<p>
  <b>Holding status type:</b>
  <%= @pas_position.holding_status_type %>
</p>

<p>
  <b>Import file date:</b>
  <%= @pas_position.import_file_date %>
</p>

<p>
  <b>Locked holding flag:</b>
  <%= @pas_position.locked_holding_flag %>
</p>

<p>
  <b>Last transaction date:</b>
  <%= @pas_position.last_transaction_date %>
</p>

<p>
  <b>Data source type:</b>
  <%= @pas_position.data_source_type %>
</p>

<p>
  <b>Seq:</b>
  <%= @pas_position.seq_id %>
</p>


<%= link_to 'Edit', edit_pas_position_path(@pas_position) %> |
<%= link_to 'Back', pas_positions_path %>
