<!DOCTYPE html>
<html>
<head>
  <title>Rebalance Home</title>
  <%= stylesheet_link_tag "stylesheets/themes/base/jquery.ui.all.css" %>

  <!--%= javascript_include_tag "application" %-->
  <%= javascript_include_tag "jquery-1.8.3.js" %>
  <%= javascript_include_tag "jqueryui/jquery.bgiframe-2.1.2.js" %>
  <%= javascript_include_tag "jqueryui/jquery.ui.core.js" %>
  <%= javascript_include_tag "jqueryui/jquery.ui.widget.js" %>
  <%= javascript_include_tag "jqueryui/jquery.ui.mouse.js" %>
  <%= javascript_include_tag "jqueryui/jquery.ui.button.js" %>
  <%= javascript_include_tag "jqueryui/jquery.ui.draggable.js" %>
  <%= javascript_include_tag "jqueryui/jquery.ui.position.js" %>
  <%= javascript_include_tag "jqueryui/jquery.ui.resizable.js" %>
  <%= javascript_include_tag "jqueryui/jquery.ui.droppable.js" %>

  <%= javascript_include_tag "jqueryui/jquery.ui.dialog.js" %>
  <%= javascript_include_tag "jqueryui/jquery.ui.effect.js" %>
  <%= javascript_include_tag "lefttree.js" %>



  <%= javascript_include_tag "/TreeGrid/GridE.js" %>


  <%= stylesheet_link_tag "demos" %>

</head>
<body>
<h1>Listing rebalance home</h1>
<div id="container">
  <div id="header" style=" background-image:url(/images/logo.png)"> </div>
  <div id="menu"></div>
  <div id="mainContent">
    <div id="sidebar">
      <div id="demo" style="height: 100%;background:#9ff;"></div>
      <script>
          var _data = {
              "Rebalance Group": [{
                  "name": "List",
                  "url": "/"
              },
                  {
                      "name": "New Group",
                      "url": "rebalancegroups/new"
                  }],
              "Account": [{
                  "name": "Account List",
                  "url": "rebalance_refs"
              }],
              "Security": [{
                  "name": "Security List",
                  "url": "#"
              }],
              "Model portfolios": [{
                  "name": "Models List",
                  "url": "#"
              }],
              "Model portfolios": [{
                  "name": "Rebalance Group",
                  "url": "#"
              }],
              "Action plan ": [{
                  "name": "Action plans",
                  "url": "#"
              }]
          };
          jsonTree('demo', _data);
      </script>
    </div>

   <%= yield %>
  </div>
  <div id="footer">This is the footer</div>
</div>
</body>
</html>